
  

<div class="container">
  <div class="row">
    <div class= "col" align="center">
      <%=render 'shared/origin_form' %>
    </div>
  </div>
</div>

<div class = "container">
  <div class="row">
  	<div class ="col-6">
    <%=render 'shared/destinations_form' %>
  </div>
</div>

  <div class="row">
  	<div class ="col-6">
    <% if destinations_set? %>
      <%=render 'shared/destinations_list' %>
    <%end%>
  </div>
  </div> 
</div>







